<div class="row py-2 ">
  <div class="col-xs-10">
      <nav class="navbar     navbar-white bg-white ">
          <div class="container-fluid  row justify-content-center">
           <div class=" col-md-3 mx-5 image ">
              <img src="/assets/img/WhatsApp Image 2022-01-30 at 12.12.41 PM.jpeg" style="width: 150px;height: 150px;" alt="">
              <!-- <a class="navbar-brand fs-2  d-none d-md-block" href="#" aria-current="page" (click)="onselect('home')"> اكاديمية اللوتس</a> -->


            </div>
              <ul class="navbar-nav  col-md-7 mx-5 ">
<div class="top d-flex justify-content-center">


                  <li class="nav-item">
                    <a class="nav-link active   mx-3" href="#" aria-current="page" (click)="onselect('home')">الصفحة الرئيسية</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link  mx-3" href="#" (click)="onselect('program')" >تصفح</a>

                  </li>







              <li class="nav-item">
                  <a class="nav-link btn btn-primary text-white rounded-pill mx-3 px-2" href="#" (click)="onselect('sign')"  >سجل مجانا</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-outline-primary rounded-pill px-2" href="#" (click)="onselect('enter')"  >دخول</a>
                </li>
              </div>
                </ul>


            </div>


        </nav>
      </div>
  </div>
