
    <nav class="navbar navbar-expand-lg navbar-light  px-5 ">
      <div class="container-fluid">

              <img src="assets/img/WhatsApp Image 2022-01-30 at 12.12.41 PM.jpeg" style="width: 150px;height: 150px;" alt="">
              <!-- <a class="navbar-brand fs-2  d-none d-md-block" href="#" aria-current="page" (click)="onselect('home')"> اكاديمية اللوتس</a> -->




            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
            </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                  <li class="nav-item">
                    <a class="nav-link   btn btn-primary text-white rounded-pill mx-1 my-2 px-2" routerLinkActive="active" routerLink="home" aria-current="page" >الصفحة الرئيسية</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary  rounded-pill m-1  px-2"  routerLinkActive="active"routerLink="program"  >تصفح</a>

                  </li>



                  <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white rounded-pill m-1  px-2" style="cursor: pointer;"
                    (click)="onlogOut()"     *ngIf="islogin && isAuthenticated"

                    >خروج</a>
                  </li>



              <li class="nav-item">
                  <a class="nav-link btn btn-primary text-white rounded-pill m-1  px-2" *ngIf=" !isAuthenticated"   routerLink="sign" routerLinkActive="active" >سجل مجانا</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-outline-primary rounded-pill  m-1 px-2" routerLink="enter" *ngIf="!islogin"  routerLinkActive="active" >دخول</a>
                </li>

              <li class="nav-item">
                  <a class="nav-link btn btn-primary text-white rounded-pill m-1  px-2" routerLink="team"  routerLinkActive="active">الفريق</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-outline-primary rounded-pill m-1  px-2" routerLink="contact" routerLinkActive="active" >اتصل بنا</a>
                </li>

                </ul>

              </div>
            </div>


        </nav>




