<footer class="text-center bg-dark text-white ">
<div class="container p-0">
    <h3 class="pt-5 pb-3 ">
      تواصل معنا
    </h3>
    <div class="social d-flex justify-content-center ">

      <a href="https://m.facebook.com/lotusacademy1" target="blank">
           <i class="fab fa-facebook fa-3x text-white mx-2"></i>
          </a>
      <a href="https://twitter.com/LutasAcademy"  target="blank">
          <i class="fab fa-twitter fa-3x text-white mx-2"></i>
        </a>
      <a href="https://www.instagram.com/lutasacademy"  target="blank">
          <i class="fab fa-instagram fa-3x text-white mx-2"></i>
        </a>
      <a href="https://www.youtube.com/channel/UCLFPA2jnAFdm4gEZg6Q-gWQ" target="blank" >
         <i class="fab fa-youtube  fa-3x text-white mx-2"></i>
        </a>
      <a href="https://www.linkedin.com/in/lutas-academy" target="blank" >
          <i class="fab fa-invision fa-3x text-white mx-2"></i>
        </a>
      <a href="mailto:lutasacademy@gmail.com"  target="blank">
         <i class="fab fa-google fa-3x text-white mx-2"></i>
        </a>





  </div>
  <p class="text-center py-4 my-0 ">
    اللوتس اكاديمي
    &copy;2022  جميع الحقوق محفوظة
   </p>
  </div>
</footer>
