<section>
  <div class="container-fluid px-0">
      <div class="row my-4">
          <div class="col-md-5">
             <div class=" list-group ">
                 <h3 class="fs-3 text-secondary px-3">
                     التخصصات
                 </h3>
                 <a [routerLink]="['lang']" routerLinkActive="active" class="list-group-item p-3 clearfix "

                 >
                     اللغات والآداب
                 </a>
                 <a routerLink="computer" routerLinkActive="active" class="list-group-item px-3 py-3 clearfix"

                 >العلوم والتكنولوجيا </a>
                 <!-- <a href="#" class="list-group-item py-3 clearfix">الأعمال والريادة</a> -->
                 <a routerLink="./usy-math" routerLinkActive="active" class="list-group-item py-3 clearfix"

                 >الحساب الذهني</a>
                 <a routerLink="skills" routerLinkActive="active" class="list-group-item p-3 clearfix "

                 >الرسم و تنمية المهارات</a>
                <a routerLink="quran" routerLinkActive="active"  class="list-group-item p-3 clearfix "

                 >القرآن الكريم</a>
                 <!-- <a href="#kids" class="list-group-item p-3 clearfix " >الاطفال</a> -->
               </div>
          </div>

          <div class="col-md-5">

            <video width="700" height="400" controls >
              <source src="assets/vidio/VID-20220211-WA0001.mp4" type="video/mp4">

            </video>
</div>
</div>
</div>

          </section>



          <router-outlet></router-outlet>

          <!-- <app-usy-math *ngIf="progSelect==='usy'"></app-usy-math>
          <app-vedic-math *ngIf="progSelect ==='vedic'"></app-vedic-math>
<app-english-basics *ngIf="progSelect==='english-basics'"></app-english-basics>
<app-english-convarsation *ngIf="progSelect==='english-conv'"></app-english-convarsation>
<app-arabic-basics *ngIf="progSelect==='arabic-basics'"></app-arabic-basics>
<app-arabic-font *ngIf="progSelect==='arabic-font'"></app-arabic-font>
<app-basics *ngIf="progSelect==='basic'"></app-basics>
<app-office *ngIf="progSelect==='microsoft'"></app-office>
<app-internet *ngIf="progSelect==='internet'"></app-internet>
<app-html *ngIf="progSelect==='html'"></app-html>
<app-kids *ngIf="progSelect==='draw'"></app-kids>
<app-skills *ngIf="progSelect==='skills'"></app-skills>
<app-qraan-learning *ngIf="progSelect==='qraan-learning'"></app-qraan-learning>
<app-coding *ngIf="progSelect==='coding'"></app-coding> -->
