<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-md-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">تعليم الأطفال القرآن الكريم</h1>
          <p class="text-white p-3 lead"> تعليم الأطفال القرآن الكريم هو تقوية علاقة الطفل بالخالق عز وجل، وتعليمه أحكام، وأصول الدين الإسلامي

             </p>



         </div>

         <div class="col-md-5">
          <div class = card>
           <div class = image>
            <img src="/assets/img/تعليم-الاطفال-القرآن-الكريم.jpg">
           </div>
           <div class = content>
            <h5 class="card-title ">القرآن الكريم  </h5>
          <p class="card-text my-3"> القرآن الكريم هو كلام الله -تعالى-، المُنزل على نبيّه محمد -صلى الله عليه وسلم-، المعجز بلفظه، المتعبّد بتلاوته، المُفتتح بسورة الفاتحة، والمُنتهي بسورة الناس، المكتوب في المصاحف، والمنقول إلينا بالتواتر.

         </p>


         </div>

      </div>


     </div>

     </div>



  </div>
</section>


<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">
            مرحلة الطفولة من المراحل الهامة في حياة الطفل فهو يحاول فيها الاطلاع، ومعرفة الكثير من الأشياء التي تترسخ في ذهنه مع مرور الوقت لذلك فأن تعليم الأطفال القرآن الكريم، وهم في سن صغير سوف يجعل القرآن محفوظ في قلوبهم، ويحرصوا على تلاوته باستمرار. والقرآن الكريم بما فيه من تعاليم دين الإسلام الحنيف سوف يعلم أطفالكم السلوكيات الصحيحة، وأن يخافوا من الله في كل أفعالهم، وأن يحرصوا على فعل الخيرات حتى ينالوا الجنة لذلك تبقى تعاليم الدين الإسلامي الحنيف الموجودة في جميع صور القرآن الكريم راسخة في عقول أطفالنا منذ الصغر، وحتى المشيب.


          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">

            بعض الطرق التي تساعد على تعليم الأطفال القرآن الكريم
             <li>
              طريقة تفسير كلمات القرآن:


             </li>
             تعتبر طريقة شرح، وتفسير معاني القرآن الكريم من أكثر الطرق التي تساعد الطفل على حفظ، وفهم القرآن الكريم بمنتهى السهولة

              <li>
                طريقة التحفيز، والتشجيع:

  </li>
  من أكثر الأساليب التي تسعد الطفل، وتشجعه على تنفيذ أي مهمه تسند أليه هي طريقة التحفيز، والتشجيع لذلك يجب أن يتبع الأبوين نفس الطريقة مع الطفل عندما يريدون منه أن يحفظ القرآن


            </div>
              <h3 class="p-4">الرؤية</h3>
                  <p class="lead bg-light p-4">
                    تعلم القرآن في الصغر له فوائده الكبيرة على الأجيال لعلي أذكر منها: - التعلق بكتاب الله وحبه وتعظيمه وتوقيره. - تقويم اللسان وكسب المهارات اللغوية وفهم قواعد اللغة العربية وتدريب اللسان على الفصاحة والبيان. - فهم مبادئ الدين وقيم الإسلام وأحكامه.

               </p>

      </div>

      <div class="col-md-5  mt-5">
        <img src="/assets/img/ما_هو_عدد_سور_القرآن_الكريم.jpg" class="img-fluid rounded-pill" style="height: 400px;">
        <img src="/assets/img/2014_1447145089.jpg" class="img-fluid mt-5 rounded-pill" style="width: 700px;">
        <img src="/assets/img/1595808674.webp" class="img-fluid mt-5  rounded-pill" style="height: 400px;">
      </div>
      </div>
  </div>
</section>
