<section id="sign  ">
  <div class="container ">
      <h2 class="  fs-1 text-secondary" >إرسال طلب</h2>



      <form action=""
     >

          <div class="form-group   ">
              <label for="email" class="fs-4 mx-2 mt-3 text-secondary">عنوان بريدك الالكتروني</label>

              <input type="email" class="form-control  py-3" >

          </div>

          <div class="form-group mt-4   ">
              <label for="text" class="fs-4 mx-3  text-secondary">الموضوع</label>
              <input type="text" class="form-control  py-3">
          </div>
          <div class="form-group mt-4   ">
              <label for="text" class="fs-4 mx-3  text-secondary">الوصف</label><br>
             <textarea class="form-control mb-2" rows="4"></textarea>

          </div>

          <span>
              يُرجى إدخال بيانات طلبك. سوف يستجيب عضو من فريق الدعم في أسرع وقت ممكن.
             </span><br>


              <button class="btn btn-primary px-5 py-3 mt-3"> ارسال</button>




      </form>
  </div>
</section>
