<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-md-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">اساسيات اللغة الانجليزية</h1>
          <p class="text-white p-3 lead"> شرح قواعد اللغه الإنجليزيه للمبتدئين بطريقه مبسطه بالصور والرسوم التوضيحية شرح جميع دروس قواعد اللغة الانجليزية الاساسية كاملة للمبتدئين </p>



         </div>
         <div class="col-md-5">
          <div class="card  " >
            <div class="image">
              <img src="assets/img/English Basics.png"alt="...">
            </div>

            <div class="content">
              <h5 class="card-title ">اساسيات الانجليزي </h5>
              <p class="card-text"> الاساسيات تتضمن كل ما تحتاج اليه من اجل انطلاقة قوية فقد اخترنا لك دروس تحتاج اليها بشكل دائم وسوف تستخدم اغلب مفرداتها بشكل يومي ومتكرر . وهذه الدروس هي الحجر الاساس لتعلم اللغة الانجليزية .</p>

            </div>
          </div>
         </div>

     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">
            هذا المسار من الدورة يتكامل مع مسار (الكلمات والتحدث) والذي هو المسار الرئيسي في الدورة والذي يهدف لأن تكتسب الكلمات في جمل وتبدأ في استخدامها من أول يوم، في كل درس هنالك قدر صغير من القواعد بما يخدم الدرس التالي من درس الكلمات، وبهذا تكون الدورة متكاملة ومترابطة كي تتمكن أنت من بناء لغتك بشكل سليم وصحيح إن شاء الله
          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">


             <li>
              مدخل لتكوين الجملة في الإنجليزية
             </li>

             عبارة عن مقدمة لتكوين الجملة في الانجليزية بأبسط صورة
              <li>
                أقسام الكلام في الانجليزية
              </li>
              يتم تصنيف جميع كلمات اللغة الانجليزية أو أي لغة إلى مجموعات، أفعال وأسماء وصفات وضمائر و …..الخ، هذا الأمر مهم في اللغة الانجليزية


              <li>
                الأفعال في اللغة الانجليزية
              </li>تعتبر الأفعال من أهم كلمات اللغة، والأفعال لها عدة أشكال، ولحسن الحظ أن أشكال الأفعال في اللغة الانجليزية محدودة ولديها قواعد أبسط من اللغة العربية
              <li>
                تكوين السؤال في الإنجليزية
              </li>

              هنالك طريقتين لتكوين السؤال في اللغة الانجليزية، النوع الأول الذي يسمى (Yes/No questions) و هنالك نوعية أخرى من الأسئلة، تسمى أسئلة (wh) لأننا نستخدم كلمات تبدأ بهاذين الحرفين، وهي الأسئلة العامة من قبيل (متى، ماذا، كيف، أين ….الخ)
              <li>
                التدرب على قواعد اللغة الانجليزية
              </li>


              للتدرب على قواعد اللغة الانجليزية الأساسية التي تم أخذها

            </div>
              <h3 class="p-4">الرؤية</h3>
                  <p class="lead bg-light p-4">يعتبر برنامج شرح قواعد اللغة الإنجليزية مصدرا هاما ومرجعا لتعلم قواعد اللغة الإنجليزية بطريقة سهلة مبسطة باستخدام تقنيات الملتيميديا وذلك بعرض وشرح القواعد متبوعة بالصوت ومصنفة بشكل جيد حتى يسهل على المتعلم ايجاد المعلومة والوصول إليها بشكل سريع. </p>

      </div>


      <div class="col-md-5">
        <img src="assets/img/2877585-scaled.jpg" style="height: 300px; width: 600px;" class="img-fluid mt-5 rounded-pill" alt="">
        <img src="assets/img/unnamed.png"class="img-fluid mt-5 rounded-pill"  style="height: 300px; width: 600px;" alt="">
        <img src="assets/img/screen-2.jpg" style="height: 300px; width: 600px;"class="img-fluid mt-5 rounded-pill"  alt="">
      </div>
      </div>
  </div>
</section>

