<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">ميكروسوفت اوفيس</h1>
          <p class="text-white lead">Microsoft Office: Word, Excel, PowerPoint من الصفر للاحتراف
          تعلم برامج الاوفيس ; الوورد , البوربوينت و الاكسل من المستوى المبتدئ للمستوى المتقدم

             </p>



         </div>

         <div class="col-md-5">
          <div class = card>
           <div class = image>
            <img src="assets/img/تحديثات-الأمان-في-مايكروسوفت-أوفيس.jpg">
           </div>
           <div class = content>
            <h5 class="card-title"> MS Office ميكروسوفت اوفيس</h5>
            <p class="card-text">يتكون Microsoft Office من Microsoft Word ، وهي أداة قياسية لمعالجة الكلمات ؛ Microsoft Excel ، حزمة تستخدم لإنشاء وتحرير جداول البيانات</p>


         </div>

      </div>


     </div>

     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">برامج الاوفيس من البرامج الهامة في حياتنا , نحتاجها تقريبًا في كل شىء معظم الوقت

            (ICDL Course) في هذا الكورس سوف نتعلم اهم برامج الاوفيس ; الورد , الاكسل , والبوربوينت

          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">

             <li>
              Microsoft Word -  اولًا الورد
            </li>

            ميكروسوفت وورد من البرامج الهامة في حياتنا والاكثر احتياجًا في سوق العمل لذلك لا يمكننا التخلي عنه فبرنامج الورد يتم استخدامه من أجل كتابة و تعديل النصوص و إضافة الصور التوضيحية و يمكن عمل تصاميم مختلفة من خلاله

            سيقوم هذا الكورس بمساعدتك لفهم جميع ادوات البرنامج بكل سهولة خطوة بخطوة وايضًا ستتعلم تقنيات واساليب تساعدك علي توفير الوقت والمجهود
                <li>
                  Microsoft Excel  - ثانيًا الاكسيل
                </li>

                ستتعلم طريقة اظهار بياناتك بشكل افضل و تعديلها بسهولة عن طريق الجداول والرسوم البيانية

في النهاية ستتعلم كيفية الاستفادة الكاملة من برنامج ميكروسوفت اكسل  واضافة البيانات و تحليلها واجراء العمليات الحسابية  بكل كفاءة وسهولة
                <li>
                  Microsoft PowerPoint - ثالثًا البوربوينت
                </li>
                من أفضل البرامج المستعملة في تصميم عروض تقديمية إحترافية وعمل البريزنتيشن البوربوينت

                البوربوينت يتم استخدامه كأداة عرض رئيسية في المدارس والشركات ويجب ان يكون مهارة اساسية تتعلمها و تضيفها لمجموعة مهاراتك نظراً لأهميته و كثرة الطلب عليه فى سوق العمل لاحتوائه على مجموعة من القوالب الأنيقة التي تجعل إنشاء العروض التقديمية أكثر بساطة












            </div>


      </div>

      <div class="col-md-5">
        <img src="assets/img/Microsoft-Word-Basic-and-Advanced.png" style="height: 300px; width: 600px;" class="img-fluid mt-5 rounded-pill" alt="">
        <img src="assets/img/Powerpoint+Basics+-+Logo.jpg"class="img-fluid mt-5 rounded-pill"  style="height: 300px; width: 600px;" alt="">
        <img src="assets/img/image-asset1.jpeg" style="height: 300px; width: 600px;"class="img-fluid mt-5 rounded-pill"  alt="">
      </div>
      </div>
  </div>
</section>





