<section id="enter ">
  <div class="container mt-5 ">
      <h2 class="mt-5 text-center fs-1 text-secondary" >سجل الدخول لحسابك</h2>
      <div class="d-flex justify-content-center">
          <p class="lead">هل لديك حساب لدينا ؟</p>
          <a href="/sign-in.html" class="btn text-primary ">انشئ حسابك </a>
      </div>

      <div class="d-flex justify-content-center">
          <a href="https://accounts.google.com/" target="blank" class="btn border px-5 py-4 mx-4 bg-light">
              <i class="fab fa-google fa-2x mx-2  text-primary"></i>عن طريق جوحل
          </a>
          <a href="https://www.facebook.com/" target="blank" class="btn border px-5 py-4 mx-4 bg-light">
              <i class="fab fa-facebook fa-2x mx-2  text-primary "></i>عن طريق فيسبوك
          </a>
      </div>
      <h3 class="text-center my-3">او</h3>

      <form action="" class=" m-auto"
     >
        <div class="content">
          <div class="form-group   ">
              <label for="email" class="fs-4 mx-2  text-secondary">البريد الالكتروني</label>

              <input type="email" class="form-control  py-3" placeholder="Please Enter Your Email">

          </div>




          <div class="form-group mt-4   ">
              <label for="password" class="fs-4 mx-3  text-secondary">كلمة السر </label>

              <input type="password" class="form-control  py-3" placeholder="Please Enter Your Password">
              <a class="text-primary mt-2 btn fs-5">هل نسيت كلمة السر؟</a>
          </div>


            <div class="d-grid my-5 ">
              <button class="btn btn-primary p-3 "> سجل الان</button>
            </div>
        </div>


      </form>
  </div>
</section>
