<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-md-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">تعلم محادثة اللغة الانجليزية</h1>
          <p class="text-white p-3 lead"> المحادثة والحوار هما أسلوب التواصل بين الناس، إنهما مهارة اجتماعية ليست صعبة لمعظم الأفراد، والمحادثات هي النموذج المثالي للتواصل في جميع النواحي</p>


         </div>



         <div class="col-md-5">
          <div class = card>
           <div class = image>
             <img src="/assets/img/Basic-English-Conversation-100-Daily-Topics-01.jpg" >
           </div>
           <div class = content>
            <h5 class="card-title">المحادثة بالانجليزي
            </h5>
            <p class="card-text ">تُعد المحادثة من أهم جوانب تعلم اللغة الإنجليزية، لأنها تعتبر مقياس تحسنك في اللغة الإنجليزية. فكلما زاد مستوي تحدث الإنجليزية، كلما زاد باقي جوانب اللغة.  </p>


         </div>

      </div>


     </div>

     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">
            المحادثات مصحوبة بترجمة باللغة العربية لجميع الجمل والكلمات الإنجليزية الواردة في المحادثة، والتي من خلالها يمكنكم تعلم التعبيرات والعبارات الشائعة التي يستخدمها متحدثي اللغة الانجليزية في حياتهم اليومية وفي كافة مناحي الحياة والتي أحيانا يحار الكثيرين في فهم معناها، هذه التعبيرات مترجمة للغة العربية ومنطوقة ايضا.
          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">


             <li>
              المحادثات هي طريقك إلى تحقيق الطلاقة في اللغة الإنجليزية.

             </li>

              <li>
                تُزيد حصيلة المفردات اللغوية والتعابير والمصطلحات.

              </li>


              <li>
                تساعدك على التواصل مع ثقافات أخري، وبناء صداقات.

              </li>

              <li>
                تتيح لك إمكانية بدء صداقات ومعارف هامة ومثمرة في عملك.

              </li>


             <li>
              تساعدك على التعبير عن الآراء والأفكار الخاصة بك.

             </li>

             <li>
              مفيدة في المواقف الهامة كالمقابلات الوظيفية، وإلقاء الخطب.

             </li>
            </div>
              <h3 class="p-4">الرؤية</h3>
                  <p class="lead bg-light p-4">تعزز المحادثات  أيضا حصيلتك من المفردات اللغوية والتعابير. فمعظم تعاملك اليومي باللغة الإنجليزية عبارة عن العديد والعديد من المحادثات . وتعزيز مهارتك في هذه النقطة سوف يزيد قدراتك اللغوية. وهذا ما نهدف له من خلال المحادثات  التالية.</p>

      </div>


      <div class="col-md-5">
        <img src="/assets/img/552x414bb.png" style="height: 300px; width: 600px;" class="img-fluid mt-5 rounded-pill" alt="">
        <img src="/assets/img/thumbnails-conversation-starter.jpg"class="img-fluid mt-5 rounded-pill"  style="height: 300px; width: 600px;" alt="">
        <img src="/assets/img/Exam-Conversation-with-Kids.png" style="height: 300px; width: 600px;"class="img-fluid mt-5 rounded-pill"  alt="">
      </div>
      </div>
  </div>
</section>


