<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-md-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">الخط العربي</h1>
          <p class="text-white  lead">الخط العربي هو فن وتصميم الكتابة في مختلف اللغات التي تستعمل الحروف العربية. تتميز الكتابة العربية بكونها متصلة مما يجعلها قابلة لاكتساب أشكال هندسية مختلفة من خلال المد والرجع والاستدارة والتزوية والتشابك والتداخل والتركيب

             </p>


</div>
<div class="col-md-5">
             <div class = card>
              <div class = image>
                <img src="/assets/img/f37502a55eaec6c5c6e52bbfbdb96a29.jpg">
              </div>
              <div class = content>
                <h5 class="card-title">الخط العربي </h5>
                <p class="card-text"> الخط العربي هو فن وتصميم الكتابة في مختلف اللغات التي تستعمل الحروف العربية. تتميز الكتابة العربية بكونها متصلة مما يجعلها قابلة لاكتساب أشكال هندسية مختلفة من خلال المد والرجع والاستدارة والتزوية والتشابك والتداخل والتركيب.  </p>

              </div>
            </div>

         </div>
         <!-- <div class="card mb-2" style="width: 30rem; height: 35rem;">
          <img src="/assets/img/Learning-Arabic.jpg" style="height: 400px;" class="card-img-top img-fluid" alt="...">


          </div> -->
        </div>
     </div>




</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">
            ظهور الخط العربي وتنوع أشكاله جاء نتيجة مرونة الحروف العربية وسهولة انسيابها، واختلاف أقلامها، ووضوح أشكالها. وتنوعت أشكال الخط العربي وأصبح لكل خط قواعده التي تتحكم به.

            كما توسع مجال الخطوط العربية وتشعب كثيرًا، مما جعل المبدعين والمهتمين في هذا المجال يتسابقون في ابتكار أشكال الحروف وتكوين خطوط جديدة.


          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">


             <li>
              أول شيء يجب تعلمه هو مسكة القلم، ولا تبدأ في تعلم الحروف حتى تتقن مسكة القلم جيدا
              دائماً أنصح بكتابة جملة أو البسملة لتعوّد يدك على جميع الاتجاهات وتألف القلم وتنتهي من أي مشاكل في البداية تخص مسكة القلم حتى تركز في الحروف بسهولة


             </li>


              <li>
                ابدأ بتعلم الحروف المفردة بقواعدها

  </li>

  <li>
    دراسة الحروف المتصلة، وهي (شكل الحرف وعلاقته مع بقية الحروف)
  </li>

            </div>
              <h3 class="p-4">الرؤية</h3>
                  <p class="lead bg-light p-4">.دراسة الخط العربي ليست عملية سهلة، ولا صعبة إذا اتبعت الطريق الصحيح، فقط تحتاج لمعلم مباشر لأن تعلم هذا الفن في الأصل بالتلقي
                    لكن هذا المقال يساعد من يصعب عليه إيجاد المُعلم، وحتى نبدأ أذكرك بالمقولة الشهيرة

               </p>

      </div>
      <div class="col-md-5">
        <img src="/assets/img/_1_.jpg" style="height: 300px; width: 600px;" class="img-fluid mt-5 rounded-pill" alt="">
        <img src="/assets/img/تعليم-الخط-العربي-للمبتدئين.jpg"class="img-fluid mt-5 rounded-pill"  style="height: 300px; width: 600px;" alt="">
        <img src="/assets/img/maxr3esdefault.jpg" style="height: 300px; width: 600px;"class="img-fluid mt-5 rounded-pill"  alt="">
      </div>
      </div>
  </div>
</section>



