<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">رياضيات الفيدا</h1>
          <p class="text-white p-3 lead"> حل المسائل الرياضيه بطرق سهله وممتعة
              هنحل كل العمليات الحسابيه
               جمع وطرح
              ضرب وقسمه
              كسور و اسس
              جذور تربيع وتكعيب
              بدون استخدام اى وسيله مساعده
              الميزات التسعة للرياضيات الفيدية:
              هناك العديد من ميزات نظام الفيدية
              التماسك
              المرونه فى حل العمليات الحسابيه
              الخيال و تحسين الذاكرة
              يعزز الإبداع
              مخاطبة كل الفيئات
              سرعة البديهة
              الفعالية والسرعة </p>



         </div>

         <div class="col-md-5">
          <div class = card>
           <div class = image>
            <img src="/assets/img/271633403_2429958527140230_3076200020634969479_n.jpg">
           </div>
           <div class = content>
            <h5 class="card-title ">كورس رياضيات الفيدا
              ( Vedic math)</h5>
            <p class="card-text">هناك العديد من ميزات نظام الفيدية
              ,التماسك
              ,المرونه فى حل العمليات الحسابيه
              ,الخيال و تحسين الذاكرة
              ,يعزز الإبداع
              ,مخاطبة كل الفيئات
              ,سرعة البديهة
              ,الفعالية والسرعة</p>


         </div>

      </div>


     </div>
    
     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">
              رياضيات الفيدا هو مصطلح  اطلق  على النظام القديم للرياضيات الهندية، الذي اكتشف  بين عامي 1911 و 1918 من قبل سري بهاراتي كرسنا تيرثاجي (1884-1960). وفقا لأبحاثه، تستند جميع الرياضيات على ستة عشر سوترا، أو صيغة كلمات.
هذه الصيغ يعمل بها العقل بشكل طبيعي وبالتالي فهي تساعد في توجيه الطالب إلى الحل المناسب. والنظام الفيدى  يحل المشكلات الصعبة والمبالغ الكبيرة فورًا باستخدام  هذه الطرق  المدهشة والجميلة، وبالتالي الرياضيات الفيدية تعني الحسابات التي  يمكن تنفيذها بشكل عقلي.
من المزايا التي يستخدها نظام رياضيات الفيدية .
يزداد الإهتمام بالرياضيات الفيدية في التعليم، حيث يبحث معلمو الرياضيات عن شيء أفضل ويجدون أن النظام الفيدى هو الحل.
          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">
             <p> ميزات نظام الفيدية التي تتناقض بشكل كبير مع الرياضيات التقليدية:</p>

             <li>
              التماسك :
             </li>

                لعل الميزة الأكثر إثارة للانتباه للنظام الفيدي هي تماسكه. فبدلاً من مجموعة من التقنيات الغير مترابطة، فإن النظام بأكمله مترابط بشكل جميل وموحد يجعل الرياضيات مسلية وممتعة وشيقة كما انها تشجع على الابداع.
              <li>
                الليونة  :
              </li>

              عادة ما يتمرد الطلاب الاذكياء و المبدعون ضد الطرق التقليدية للتعليم لأنها مملة، وهذا بسبب وجود  طريقة واحدة للقيام بعملية حسابية، فبمجرد تطبيق الطالب للنظام الفيدي  يتحصل  على   كل الفوائد فيصبح  أكثر إبداعًا.


              <li>
                الخيال و تحسين الذاكرة :
              </li>


              سهولة الرياضيات الفيدية يتمثل في إمكانية إجراء العمليات الحسابية ذهنيا، كما أنه باستطاعتنا القيام بها كتابيا.
              في الرياضيات الفيدية ليس علينا التقيد بالقواعد، بل نستطيع اختراع علاقات جديدة.
              <li>
                يعزز الإبداع :
              </li>


              الرياضيات الفيدية لا تستعمل الطرق التحليلية، ولا القواعد الثابتة، وهذا ما يجعلها محبوبة من طرف الطلاب، وهذا ما يجعلهم أحرار ليبدعوا طرق وقواعد جديدة، ويستعملوا أساليبهم الخاصة.
              <li>
                مخاطبة كل الفئات:
              </li>


               ببساطتها تقنياتها وقواعدها، وحرية اختيار القواعد المراد تطبيقها، تجعل الطلاب يتمتعون ويبدعون، لهاذا فإن رياضيات الفيدا تلائم كل شرائح المجتمع.
               <li>
                سرعة البديهة:
               </li>



              الطرق السهلة التي تتميز بها رياضيات الفيدا، واعتمادها على الحساب الذهني. تجعل سرعة بديهة الأطفال تنموا في جميع المجالات الأخرى.
              <li>
                الفعالية والسرعة :
              </li>


              بإستعمال تقنيات الرياضيات الفيدية، نستطيع حل أعقد المسائل، وحساب أضخم العمليات مهما كانت طويلة، باستعمال العديد من الطرق، وهذا ما يجعلها جد فعالة وسريعة جدا.</div>

              <h3 class="p-4">الرؤية</h3>
                  <p class="lead bg-light p-4">تطوير القدرات العقلية للطفل . وذلك بفضل استخدام ابيكاس بدلا من الالة الحاسبة حيث اكسبهم الذاكرة القوية والتركيز والفهم والانتباه وسرعة البديهة والاستيعاب والإبداع والثقة بالنفس التي تطورها يوسي ماس </p>
      </div>
      </div>
  </div>
</section>
