


.container {
  position : relative;

  display : flex;
  align-items : center;
  justify-content : center;

}


 .card {
  position: relative;
  max-width : 500px;
  height : 215px;

  margin : 30px 10px;
  padding : 20px 15px;

  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
 .card:hover {
  height : 420px;
}


 .card .image {
  position : relative;
  width : 500px;
  height : 500px;

  top : -40%;
  left: 8px;

  z-index : 1;
}

 .card .image img {
  width : 500px;
  height:215px;
  border-radius : 15px;
}

 .card .content {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;

  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;

}

 .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;

}
