<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-md-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">اتعلم اساسيات الرسم من الصفر</h1>
          <p class="text-white p-3 lead">
            اتعرف علي اهم خطوات تعلم الرسم بطريقه علميه صحيحه لتطوير مهارتك ومستواك في وقت قليل ابتداءا من الصفر ووصولا الى الاحتراف
             </p>



         </div>

         <div class="col-md-5">
          <div class = card>
           <div class = image>
            <img src="assets/img/img-20160916-57dbdf3458e2a.jpg">
           </div>
           <div class = content>
            <h5 class="card-title ">اساسيات الرسم </h5>
            <p class="card-text mt-3"> ممارسة المهارات اليدوية كالرسم  تساعد بشكل كبير في تطوير حركة الأصابع للطفل ، وكل المفاصل التي يتم استخدامها في حركة الأقلام والرسم </p>



         </div>

      </div>


     </div>

     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">

            كورس شامل لتعليم اهم اساسيات الرسم من الصفر باسلوب علمي سهل وبسيط

            سواء كنت بتعرف ترسم بس نفسك تطور من مهارتك ومستواك وتوصل لمستوى الاحتراف في وقت قليل

            او كنت مش بتعرف ترسم ونفسك تتعلم لكن مقتنع انك معندكش الموهبه للرسم



            هتعرف في الكورس ده ان الرسم مهاره اي حد يقدر يكتسبها بالتعلم

            وهتتعلم ازاي تكتسبها وتطورها وتدرب عليها بسهوله لحد ماتوصل للمستوى اللي بتتمناه


          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">


             <li>
              هتعرف في البدايه ازاي تتحكم في افكارك كرسام
             </li>


              <li>
                هتتعلم اكتر عن اهم عناصر تكوين اللوحات وازاي تدرب عليها
              </li>



              <li>
                هتتعرف على اساسيات الظل والنور والمنظور واهميه معرفتهم اثناء الرسم من خلال الامثله العمليه
              </li>

              <li>
                هيكون عندك القدره علي تحسين ذاكرتك العضليه ومهاره ايدك وتحسين مهاره عينك في رؤيه وتحليل وتبسيط اللوحات بسهوله
              </li>

              <li>
                هتتعرف علي اهم الادوات وطرق استخدامها الصح
              </li>

              <li>
                كمان هتعرف ايه اشهر الاخطاء اللي بتعملها اثناء رسمك وتظليلك وازاي تتجنبها
              </li>

            </div>

            <h3 class="p-4">الرؤية</h3>
            <p class="lead bg-light p-4">
              تساعد المهارات الفنية كالرسم بشكل عام في تطوير الحس الفني والإبداعي للأطفال
              حيث أن الأطفال هم أكثر من يحصل على هذه الميزة، حيث تتسع أفقهم ومداركهم من خلال الرسم ويزيد لديهم الحس الإبداعي.
             </p>
      </div>
      <div class="col-md-5  mt-5">
        <img src="assets/img/115dfg.jpg" class="img-fluid rounded-pill">
        <img src="assets/img/drawing-image-1.jpg" class="img-fluid mt-5  rounded-pill">
        <img src="assets/img/istockphoto-535914541-1024x1024.jpg" class="img-fluid mt-5   rounded-pill">
      </div>
      </div>
  </div>
</section>


