<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">
            تطوير الويب  (Web developer)
          </h1>
          <p class="text-white lead">
            تطوير الويب Web Development يعتبر من أكثر مجالات البرمجة نموا وحضورا وهو الطريق الذي يمكنك الاتجاه إليه إذا لم تقم بكتابة أي أكواد من قبل وبالتالي يمكنك البدأ من الصفر والنطلاق نحو الاحتراف

             </p>



         </div>

         <div class="col-md-5">
          <div class = card>
           <div class = image>
             <img src="/assets/img/coding-classes-for-kids.png">
           </div>
           <div class = content>
            <h5 class="card-title">            تطوير الويب (Web developer)
            </h5>
            <p class="card-text">
              تطوير الويب هو العمل الذي ينطوي عليه تطوير موقع ويب للإنترنت أو الإنترانت. يمكن أن يتراوح تطوير الويب من تطوير صفحة ثابتة واحدة بسيطة من نص عادي إلى تطبيقات الويب المعقدة والأعمال الإلكترونية وخدمات الشبكات الاجتماعية.
                </p>


         </div>

      </div>


     </div>

     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">
            معرفة مكونات صفحة الويب قبل تعلم تطوير الويب أمر أساسي، فهي تتكون أولًا من لغة الهيكلة الأساسية HTML، وثانيًا من لغة التنسيق CSS، بالإضافة إلى لغات برمجة مثل جافا سكريبت

          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">

             <li>
              لغة HTML من أجل تحديد العناصر التي نريد إضافتها في الصفحة.
            </li>



                <li>
                  لغة CSS من أجل تحسين تصميم العناصر الموجودة في الصفحة.
                </li>


                <li>
                  لغة Javascript و نستخدمها لإضافة مؤثرات في صفحات الويب و لمعالجة البيانات التي يتم إدخالها و عرضها في الصفحات.
                </li>

                <p>
                  يمكنك باستخدام هذه اللغات الثلاث فقط لبناء مواقع إلكترونية كاملة, تطبيقات للهاتف و تطبيقات للحاسوب و ليس فقط لتصميم الصفحات.
                </p>

                <p>
                  وبالتالي فإن البنية الأساسية لصفحات الويب تتكون من ثلاث طبقات:
                </p>
             <li>
              طبقة المحتوى (Content): ويبنى بلغة html ، وهذه الطبقة هي التي تظهر محتوى الصفحة من نصوص وروابط وحقول وما إلى ذلك.
             </li>
             <li>
              طبقة التنسيق (Presentation): وتنسق بلغة css ، وهذه الطبقة تتحكم في شكل ظهور طبقة المحتوى، مثل تموضع العناصر والألوان وجمالية النصوص وما شاكل.
             </li>
             <li>
              طبقة التفاعل (Behavior): والمسؤول عنها لغة JavaScript ، ولغات أخرى مثل php وهذه الطبقة تتحكم في الأحداث التي تقع في الصفحة بمجرد ضغط المستخدم علي رابط أو إرسال بيانات الحقول بعد ملئها، وجعل الموقع ديناميكيا متجددا على مدار اليوم.
             </li>
             <li>
              تنظيم رسائل البريد الإلكتروني والبحث فيها واستعمال رزنامات التقويم.
             </li>












            </div>


      </div>

      <div class="col-md-5">
        <img src="/assets/img/Create-website-using-HTML.png" style="height: 300px; width: 600px;" class="img-fluid mt-5 rounded-pill" alt="">
        <img src="/assets/img/css-illustration.png"class="img-fluid mt-5 rounded-pill"  style="height: 300px; width: 600px;" alt="">
        <img src="/assets/img/javascript-illustration.png" style="height: 300px; width: 600px;"class="img-fluid mt-5 rounded-pill"  alt="">
      </div>
      </div>
  </div>
</section>







