<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-md-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">تنمية مهارات</h1>
          <p class="text-white p-3 lead">
            المهارات هي المعرفة والقدرة على أن تقوم بنشاط أو فعل معين بطريقة جيدة ومنضبطة، نتيجة الخضوع للممارسة والتدريب المستمر.

            أما تنمية المهارات فهو منهج أو طريقة تعمل على اكتساب الفرد القدرة على تأدية فعل أو نشاط جديد حتى يتمكن من إتقانه، وفي حالة تنمية مهارات الأطفال، فالأمر يعني تدريبهم بشكل مستمر على الاتيان بفعل معين، أو اتباع منهجية في التفكير والتعامل اليومي، سواء مع أسرهم أو المجتمع من حولهم.
             </p>



         </div>

         <div class="col-md-5">
          <div class = card>
           <div class = image>
            <img src="assets/img/41Ak6Uot97L._AC_SY1000_.jpg" >
           </div>
           <div class = content>
            <h5 class="card-title">تنمية مهارات
            </h5>
            <p class="card-text  ">تنمية المهارات تساعده على تطوير مهارات تعامله مع الآخرين والتواصل معهم، والتمكن من التعرف في سن مبكرة على اهتماماته وميوله، الأمر الذي يختصر كثير من الوقت في معرفة المجالات التي يمكنه النجاح بها مستقبلاً. </p>


         </div>

      </div>


     </div>

     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">






            تنمية المهارات فهو منهج أو طريقة تعمل على اكتساب الفرد القدرة على تأدية فعل أو نشاط جديد حتى يتمكن من إتقانه، وفي حالة تنمية مهارات الأطفال، فالأمر يعني تدريبهم بشكل مستمر على الاتيان بفعل معين، أو اتباع منهجية في التفكير والتعامل اليومي، سواء مع أسرهم أو المجتمع من حولهم.






          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">

            تنقسم مهارات الأطفال إلى خمسة تصنيفات وذلك طبقًا لعملية التنمية المرتبطة بها
             <li>

              التطور المعرفي: يمثل التطور المعرفي أحد أنواع مهارات الأطفال قدرة الطفل على التعلم وحل المسائل
             </li>


              <li>
                لتنمية الاجتماعية والعاطفية: وهنا تظهر قدرة الطفل على التفاعل والتجاوب مع الآخرين
              </li>



              <li>
                الكلام وتنمية اللغة: وهي إحدى أنواع مهارات الأطفال الهامة التي تعبر عن مدى قدرة الطفل على فهم اللغة واستخدامها
              </li>

              <li>
                هيكون عندك القدره علي تحسين ذاكرتك العضليه ومهاره ايدك وتحسين مهاره عينك في رؤيه وتحليل وتبسيط اللوحات بسهوله
              </li>

              <li>
                المهارات الحركية الدقيقة: وهي واحدة من أنواع مهارات الأطفال وتمثل مدى قدرة الطفل على استخدام عضلاته الصغيرة
              </li>

              <li>
                المهارات الحركية الإجمالية: وهي أيضًا واحدة من مهارات الأطفال وتتمثل في مدى قدرة الطفل على استخدام عضلاته الكبيرة
              </li>

            </div>

            <h3 class="p-4">الرؤية</h3>
            <p class="lead bg-light p-4">
              محاولة معرفة ما يلفت انتباه الأطفال، وما هي المهارة التي يستطيعون إتقانها، أو الموهبة التي يمتلكونها، والعمل على توفير طريقة آمنة وسهلة لهم، ليتمكّنوا من اكتشافها، وتعليم الأطفال طرق مبتكرة وسهلة للحصول على ما يريدون، وتعليمهم مهارات حلّ المشاكل، فعلى سبيل المثال إذا كان الطفل يفضّل استكشاف النباتات، فمن الممكن وضعها بعيداً عنه، وتوفير له بديل قريب آمن، ليلعب به ويستكشفه.
             </p>
      </div>
      <div class="col-md-5  mt-5">
        <img src="assets/img/7-mhrt-ssy-ltlym-tflk-fy-mr-lsntyn.jpg" class="img-fluid  rounded-pill" style="height: 350px;">
        <img src="assets/img/أفضل-الأدوات-لتنمية-مهارات-طفلك.png" class="img-fluid mt-5  rounded-pill">
        <img src="assets/img/ألعاب-أطفال-عمر-سنتين.jpg" class="img-fluid mt-5  rounded-pill" style="height: 350px;" >
      </div>
      </div>
  </div>
</section>



