<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-md-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">
           coding for kids  تعليم برمجة للأطفال</h1>
          <p class="text-white lead">
            البرمجة أصبحت مهارة واجب تعلمها الان. ولان الطفولة هي افضل وقت لبدء تعلم علوم الكمبيوتر وكيفية عملها وتطوير مهارات التفكير وتنمية الذكاء للطفل   والإبداع و تجهيزه للتفكير فى حل المشاكل


             </p>



      </div>
         <div class="col-md-5">
          <div class = card>
           <div class = image>
            <img src="/assets/img/coding-classes-for-kids.png" >
           </div>
           <div class = content>
            <h5 class="card-title">Coding For Kids   تعليم برمجة للأطفال والمبتدئين</h5>
            <p class="card-text"> تعليم البرمجة للاطفال من 6 سنوات والمبتدئين بشكل سهل وبسيط, شرح أغلب المفاهيم البرمجية والتطبيق على ألعاب وأنشطة ورقية

            </p>


         </div>

      </div>


     </div>

     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">
            ستعمل هذه الدورة التدريبية على تطوير عقل الطفل وتعويده على التحديات منذ الصغر . سوف يتعلم كيفية إنشاء ألعاب مدهشة وصور وأغاني متحركة في دقائق معدودة من خلال واجهة "السحب والإفلات" البسيطة.
          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">

             <li>

              تعليم اساسيات برمجة الحاسب الآلى للأطفال من 6 سنوات والمبتدئين باللغة العربية بإستخدام الألعاب بطريقة شيقة وممتعة
            </li>



                <li>
                  التدريب على شكل ألعاب على موقع Code dot org
                </li>


                <li>
                  تعلم أغلب الأساسيات البرمجية بشكل مبسط مما يمكن الطفل من تعلم اى لغة برمجة أخرى بسهولة ويسر
                </li>
                <li>
                  التعرف على اساسيات برنامج اسكراتش Scratch
                </li>













            </div>

            <h3 class="p-4">المتطلبات</h3>
            <p class="lead bg-light p-4">
           <li>
            يعرف أساسيات الإنجليزية مثل الأرقام والحروف وبعض الكلمات
           </li>
           <li>
            يعرف أساسيات الحاسب الآلى مثل التعامل مع الماوس والكيبورد
           </li>
           <li>
            لا يشترط معرفة مسبقة للأهل بالبرمجة
           </li>
           <li>
            توفر إنترنت بسرعة معقولة
           </li>
           <li>
            إستخدام google chrome
           </li>
         </p>
      </div>

      <div class="col-md-5">
        <img src="/assets/img/programming-for-kids-blog.png" style="height: 300px; width: 600px;" class="img-fluid mt-5 rounded-pill" alt="">
        <img src="/assets/img/coding_20200102.jpg"class="img-fluid mt-5 rounded-pill"  style="height: 300px; width: 600px;" alt="">
        <img src="/assets/img/6nYzMLXUjkaVomaBZ8sNRZ.jpg" style="height: 300px; width: 600px;"class="img-fluid mt-5 rounded-pill"  alt="">
      </div>
      </div>
  </div>
</section>







