<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-md-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">اللغة العربيّة</h1>
          <p class="text-white p-3 lead"> اللغة العربيّة تعتبر لغةً مقدسة على اعتبار أنها لغة القرآن، حيث لا تتم الصلاة والعبادات الأخرى في الدين الإسلامي إلا بإتقان اللغة العربيّة

             </p>
            </div>

             <div class="col-md-5">
              <div class = card>
               <div class = image>
                 <img src="assets/img/صورة_دورة_قواعد_اللغة_العربية_أفقية.jpg">
               </div>
               <div class = content>
                <h5 class="card-title">قواعد اللغة العربية </h5>
                <p class="card-text"> هذا المساق يقدّم لكم أهمّ أساسيات قواعد النّحو والإملاء بشكل مبسّط وبصورة منظّمة مع أمثلة وتطبيقات عمليّة. ويشمل نوعين من القواعد: قواعد النّحو والإملاء. </p>


             </div>

          </div>


         </div>

     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">
            اللغة العربيّة أو لغة الضاد هي واحدة من أكثر اللغات انتشاراً ضمن مجموعة اللغات الساميّة، في دول الوطن العربي إضافةً للعديد من المناطق الأخرى مثل تركيّا، والأحواز، ومالي وتشاد، والسنغال، وإثيوبيا، وأريتيريا، وإيران، وجنوبي السودان.


          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">


             <li>
              الطريقة التحليليَّة: وهي البدء بالجمل ليتعلم الطالب من خلال الجمل تركيب اللغة ومفرداتها وحروفها، ثم يتم تحليل النصوص إلى عناصرها الأولية من أصوات، وأحرف، وتراكيب.


             </li>


              <li>
                الطريقة التركيبيَّة: ويبدأ فيها الطالب تعلم الأصوات، والحروف، والكلمات، والجمل.

<ul>
  <li>
    الأصوات: وهي محاولة لفظ الأصوات للوصول إلى أفضل وسيلة لنطق الحرف بشكل سليم.

  </li>
  <li>
    الحروف: تعلم الحروف وكل ما يتعلق بها من رسم، وأشكال، وضبط، وكيفية اتصال الأحرف لتكون الكلمة، وما هية أشكال الاتصال غير الصحيحة.

  </li>
  <li>
    الكلمات: تعلم كل مايتعلق بالكلمات من صياغة وطريقة النطق، بالإضافة إلى الأمور المتعلقة بالعبارات الشائعة والكلمات.

  </li>
  <li>
    الجمل: تعلم قواعد النحو والدلالات التي تربط الكلمات لتكون جملة مفيدة، وربط الجمل لتكون النص أو الموضوع.

  </li>
</ul>

            </div>
              <h3 class="p-4">الرؤية</h3>
                  <p class="lead bg-light p-4">تعلم اللغة العربية واجب على المسلمين لفهم القرآن الكريم والسنة النبوية، ولا بد من دراسة العلوم المرتبطة باللغة العربية مثل: علم النحو والبلاغة، والقواعد والإعراب، وعلم البيان والأدب.

               </p>

      </div>


      <div class="col-md-5">
        <img src="assets/img/1_T4jrwppN6yjUDqKrF1XwrQ.jpeg" style="height: 300px; width: 600px;" class="img-fluid mt-5 rounded-pill" alt="">
        <img src="assets/img/112308443727870-400x225.jpeg"class="img-fluid mt-5 rounded-pill"  style="height: 300px; width: 600px;" alt="">
        <img src="assets/img/icon.png" style="height: 300px; width: 600px;"class="img-fluid mt-5 rounded-pill"  alt="">
      </div>
      </div>
  </div>
</section>


