<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-md-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">الحساب الذهني</h1>
          <p class="text-white p-3 lead"> اطفال بدون اله حاسبة
              اكيد ابنك بيواجة مشاكل زى صعوبه التركيز و تشتت الانتباه و البطئ و استخدام الاصابع فى حل المسائل الرياضية
              الحل فى كورس UAS ABACUS هانتعلم ازاى نحل المسائل الرياضية بدون خوف و توتر و عدم استخدام الاصابع نهائى و اسرع من الاله الحاسبة</p>



         </div>


         <div class="col-md-5">
          <div class = card>
           <div class = image>
            <img src="assets/img/271340835_1923144161208809_2232785223819993671_n.jpg">
           </div>
           <div class = content>
            <h5 class="card-title ">الحساب الذهني</h5>
            <p class="card-text">هو برنامج تطوير عقلي مميز للأطفال مخصص لتفعيل طاقتهم العقلية الكامنة في المرحلة العمرية التي يبلغ فيها العقل ذروة تطوره ونموه لعمر الطفل بين 4 الي 13 سنة صمم هذا البرنامج لإستثمار السنوات الأولى من حياة الأطفال</p>


         </div>

      </div>


     </div>

     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">
              ⁩هنتعلم الضرب و القسمه بسرعة جدا بشكل احترافى⁩هنتعلم الاعداد العشريه و الأسس و التكعيب والتربي طريقة حل مكعب روبياكواب السرعة
احضره طفلا واخذه عبقريا
          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <p class="lead bg-light p-4">إكتساب الطفل  القدرات العقلية التالية :
              (التركيز – الملاحظة – التصور – الخيال – الذاكرة – السرعة – الدقة – الإبداع – الثقة بالنفس)

              وذلك من خلال مدربين ذو خبرة عالية فى هذا المجال وسيصبح طفلك أكثر قدرة على التغلب على ضغوط الامتحانات</p>

              <h3 class="p-4">الرؤية</h3>
                  <p class="lead bg-light p-4">تطوير القدرات العقلية للطفل . وذلك بفضل استخدام ابيكاس بدلا من الالة الحاسبة حيث اكسبهم الذاكرة القوية والتركيز والفهم والانتباه وسرعة البديهة والاستيعاب والإبداع والثقة بالنفس التي تطورها يوسي ماس </p>
      </div>
      </div>
  </div>
</section>


