<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-md-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">الحاسب اآللي</h1>
          <p class="text-white p-3 lead">لقد أصبح الحاسب اآللي اليوم أداة رئيسية في كل أنواع األنشطة لمختلف مجاالت . ويعرف الحاسب اآللي بأنه
            أداة إلكترونية تقبل إدخال البيانات، معالجتها ، حفظها، وإنتاج مخرجات.

             </p>



         </div>


         <div class="col-md-5">
          <div class = card>
           <div class = image>
             <img src="assets/img/download (1).jpg">
           </div>
           <div class = content>
            <h5 class="card-title ">اساسيات الحاسب الالي </h5>
            <p class="card-text">كونك طفلًا في العصر الحديث ، يجب أن تكون قد استخدمت أجهزة الكمبيوتر أو شاهدتها أو قرأت عنها. هذا لأنها جزء لا يتجزأ من وجودنا اليومي.</p>


         </div>

      </div>


     </div>

     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">
            يقوم الحاسب اآللي او الكمبيوتر بمعالجة تقاريرك تبعا ألوامرك الشخصية وللتعليمات الموجودة في البرنامج
المستخدم كوضع العنوان في الوسط ومضاعفة المسافة بين األسطر. إن هذه المعالجة تغير من البيانات التي
قمت بإدخالها ، مثل ، تغيير مكان النص، فرز قائمة ما، أو تطبيق بعض العمليات الحسابية أو يمكنك أن تقوم
باستيراد نص أو بعض البيانات من كمبيوتر آخر

          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">

            مكونات الحاسب الآلي computer
            يتكون الحاسب الآلي من مكونين أساسين و هم المكونات البرمجية سوفت وير أي برامج النظام و أي شيئ يمكن حله بشكل برمجي و مكونات مادية يعني هارد وير و هذه تعني القطع الملموسة في الحاسوب وسوف نقوم بشرحها بالتفصيل كل مكون على حدى.
             <li>
              المكونات المادية هارد وير (Hard Ware)

              و تعرف أيضاً بالمعدات وهي مكونات الحاسوب الملموسة و تتمثل في :
              <ul>
                <li>
                  وحدة الإدخال input unit مثل (الفأرة, الكيبورد, الميكروفون).
                </li>
                <li>
                  وحدة الإخراج Output unit مثل (الشاشة, الطابعة, السماعات).
                </li>

                <li>
                  وحدة المعالجة المركزية CPU و هي إختصار (Central Processing Unit).
                </li>
                <li>
                  وحدة التخزين و تنقسم لقسمين و هما وحدة التخزين الداخلية مثل (RAM, ROM) ووحدة تخزين خارجية مثل (الفلاشة USB, الأقراص CD, DVD).
                </li>
              </ul>
             </li>


              <li>
                المكونات البرمجية سوفت وير (Soft Ware)

                تنقسم المكونات البرمجية إلى قسمين و هما برامج النظام و برامج التطبيقات:
                <ul><li>
                  برامج النظام وهي أحد انواع برامج الكمبيوتر المخصصة ليعمل جهاز الكمبيوتر من خلالها.
                </li>
              <li>
                برامج التطبيقات وهي تلك البرامج التي يتم إستخدامها مثل المستندات أو حتى التصفح عبر الانترنت أو لعب الألعاب.
              </li>
              </ul>


  </li>


            </div>


      </div>

      <div class="col-md-5">

        <img src="assets/img/basic-computer-training-banner.jpg" style="height: 300px; width: 600px;"class="img-fluid mt-5 rounded-pill"alt="">
        <img src="assets/img/Basic-parts-of-a-Computer.jpg" style="height: 300px; width: 600px;" class="img-fluid mt-5 rounded-pill" alt="">
        <img src="assets/img/maxresdefault2.jpg"class="img-fluid mt-5 rounded-pill"  style="height: 300px; width: 600px;" alt="">

      </div>
      </div>
  </div>
</section>




