<section id="computer" class="mt-3">
  <div class="container">
 <h3 class="fs-2  btn btn-outline-primary rounded-pill text-center mx-auto my-3 ">
      العلوم والتكنولوجيا
   </h3>
  <div class="row mx-5">
      <div class="col mb-2">
        <div class="card mb-2" style="width: 14rem;">
            <img src="/assets/img/download (1).jpg"style="height: 200px;"  class="card-img-top" alt="...">
            <div class="card-body px-3">
              <h5 class="card-title ">اساسيات الحاسب الالي </h5>
              <p class="card-text">كونك طفلًا في العصر الحديث ، يجب أن تكون قد استخدمت أجهزة الكمبيوتر أو شاهدتها أو قرأت عنها. هذا لأنها جزء لا يتجزأ من وجودنا اليومي.</p>
              <a href="#" class="btn btn-primary mt-4" (click)="  onClick('basic')">الدورة</a>
            </div>
          </div>
      </div>

      <div class="col">
        <div class="card" style="width: 14rem;">
            <img src="/assets/img/تحديثات-الأمان-في-مايكروسوفت-أوفيس.jpg" style="height: 200px;" class="card-img-top" alt="...">
           <div class="card-body px-3">
              <h5 class="card-title"> MS Office ميكروسوفت اوفيس</h5>
              <p class="card-text">يتكون Microsoft Office من Microsoft Word ، وهي أداة قياسية لمعالجة الكلمات ؛ Microsoft Excel ، حزمة تستخدم لإنشاء وتحرير جداول البيانات</p>
              <a href="#" class="btn btn-primary" (click)="onClick('microsoft')">الدورة</a>
            </div>
          </div>
      </div>

      <div class="col">
        <div class="card" style="width: 14rem;">
            <img src="/assets/img/203b0fb7-ae46-4ba7-a69e-8cc445b89db2.o.jpg" style="height: 200px;" class="card-img-top" alt="...">
           <div class="card-body px-3">
              <h5 class="card-title">تطوير الويب  (Web developer)
              </h5>
              <p class="card-text">
                في رحلتك في تعلم البرمجة واحترافها، نوفر لك موسوعة  متكاملة لجميع لغات وتقنيات البرمجة المختلفة. الموسوعة بمثل قاموس أو مرجع لجميع المبرمجين منهم مطورو الويب، سيساعدك كثيرًا في رحلة تعلم تطوير الويب وبدء التطبيق لوحدك، وفي مرحلة الاحتراف بلا شك. </p>
              <a href="#" class="btn btn-primary"  (click)="onClick('html')">الدورة</a>
            </div>
          </div>
      </div>

      <div class="col">
        <div class="card" style="width: 14rem;">
            <img src="/assets/img/internet.png" style="height: 200px;" class="card-img-top" alt="...">
           <div class="card-body px-3">
              <h5 class="card-title">الانترنت</h5>
              <p class="card-text"> هي نظام اتصالات عالمي يسمح بتبادل المعلومات بين شبكات أصغر تتصل من خلالها الحواسيب حول العالم. تعمل وفق أنظمة محددة ويعرف بالبروتوكول الموحد وهو بروتوكول إنترنت </p>
              <a href="#" class="btn btn-primary my-5" (click)="onClick('internet')">الدورة</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 14rem;">
            <img src="/assets/img/coding-classes-for-kids.png" style="height: 200px;" class="card-img-top" alt="...">
           <div class="card-body px-3">
              <h5 class="card-title">Coding For Kids   تعليم برمجة للأطفال والمبتدئين</h5>
              <p class="card-text"> تعليم البرمجة للاطفال من 6 سنوات والمبتدئين بشكل سهل وبسيط, شرح أغلب المفاهيم البرمجية والتطبيق على ألعاب وأنشطة ورقية </p>
              <a href="#" class="btn btn-primary my-5" (click)="onClick('coding')">الدورة</a>
            </div>
          </div>
      </div>
      </div>

      </div>
</section>
