<div class="container bg-light">
  <div class="box">
      <div class="imgBox">
          <img src="assets/img/271340835_1923144161208809_2232785223819993671_n.jpg" class="img-fluid" alt="">
      </div>
      <div class="content">
          <h2>  Noha El-Shabrawy</h2>
          <br>
          <span>Usy Math Trainer </span>
      </div>
  </div>
  <div class="box">
      <div class="imgBox">
          <img src="assets/img/203b0fb7-ae46-4ba7-a69e-8cc445b89db2.o.jpg" class="img-fluid"  alt="">
      </div>
      <div class="content">
          <h2>Ahmed Shaltoot</h2> <br>
          <span>  Software Engineer </span>
      </div>
  </div>
  <div class="box">
      <div class="imgBox">
          <img src="assets/img/COURSE-IMAGES-WEB2.0-770x450px-5-770x450.jpg" class="img-fluid px-2" alt="">
      </div>
      <div class="content">
          <h2 class="m-2">Mohamed Shaltoot</h2> <br>
          <span>Computer Trainer</span>
      </div>
  </div>

  <div class="box">
      <div class="imgBox">
          <img src="assets/img/WhatsApp Image 2022-02-16 at 8.53.04 AM.jpeg" class="img-fluid px-2"  alt="">
      </div>
      <div class="content">
          <h2>Warda Ismael</h2>
          <br>
          <span>Arabic-font Trainer</span>
      </div>
  </div>
  <div class="box">
      <div class="imgBox">
          <img src="assets/img/coding-classes-for-kids.png" class="img-fluid" alt="">
      </div>
      <div class="content">
          <h2>Eman Shaltoot</h2> <br>
          <span>Coding Trainer</span>
      </div>
  </div>
  <div class="box">
      <div class="imgBox">
          <img src="assets/img/img-20160916-57dbdf3458e2a.jpg " class="img-fluid px-2" alt="">
      </div>
      <div class="content">
          <h2>Mohamed Shaltoot</h2> <br>
          <span>Drawing Trainer</span>
      </div>
  </div>
  <div class="box">
      <div class="imgBox">
          <img src="assets/img/download (2).jpg" class="img-fluid px-3"  alt="">
      </div>
      <div class="content">
          <h2>Karima El-gogary</h2>
          <br>
          <span>french Trainer</span>
      </div>
  </div>
  <div class="box">
      <div class="imgBox">
          <img src="assets/img/intelli-blog-image-7-3.-1.jpg" class="img-fluid" alt="">
      </div>
      <div class="content">
          <h2>Eman Shaltoot</h2> <br>
          <span>Coding Trainer</span>
      </div>
  </div>
  <div class="box">
      <div class="imgBox">
          <img src="assets/img/41Ak6Uot97L._AC_SY1000_.jpg" class="img-fluid px-2" alt="">
      </div>
      <div class="content">
          <h2>Mohamed Shaltoot</h2> <br>
          <span>Drawing Trainer</span>
      </div>
  </div>
</div>
