<section id="one" >

          <div class="row mx-5 mt-2">
              <div class="col-md-6 my-5">
                  <h1 class="">
                      اطمح، تعلّم، تقدّم
                  </h1>
                  <p class="fs-2 mt-2">قم ببناء مهاراتك العمليّة من خلال الالتحاق ببرامج تدريبيّة متطوّرة، واكتسب شهادات تساعدك للدخول في سوق العمل وتطوير مسيرتك المهنية.</p>

          </div>

      <div class="col-md-6 ">
          <img src="/assets/img/courses.jpg" class="img-fluid  d-none d-md-block" alt="">
      </div>
  </div>

</section>


<section id="two " class="row" >
<div class="container  col-md-10" id="first">
    <div class=" work  row  bg-light py-2 ">
        <div class="col-md-2  mx-4">
            <h3>

                هنا تبدأ رحلتك من العِلم إلى العَمل
            </h3>


            <i class="fas fa-arrow-left fa-2x mt-2 d-none d-md-block text-danger"></i>

        </div>
        <div class="col-md-2 d-flex d-md-block px-2">
            <i class="fas fa-microscope fa-5x mb-2 text-primary p-2"></i>
            <div>
              <h3>
                اكتشف
            </h3>
            <p >
                مجموعة كبيرة ومتنوعة من أكثر الدورات والتخصصات كفاءة وجودة.

            </p>
            </div>

        </div>
              <div class="col-md-2 d-flex d-md-block  px-2">
            <i class="fas fa-hand-pointer fa-5x mb-2 text-primary p-2"></i>
            <div>
              <h3>
                التحق
            </h3>
            <p >
                بأحد البرامج لتنضمّ إلى مجتمع من المتعلّمين الرّاغبين بالتطوّر، مثلك تمامًا.

            </p>
            </div>

        </div>
              <div class="col-md-2 d-flex d-md-block px-2">
            <i class="fas fa-user-graduate fa-5x mb-2 p-2 text-primary"></i>
            <div>
              <h3>
                تعلّم
            </h3>
            <p >
                مع أكثر المدرّبين كفاءة لتصقل مهاراتك المهنية والعمليّة.

            </p>
            </div>

        </div>
              <div class="col-md-2 d-flex d-md-block px-2">
                <i class="fas fa-award fa-5x mb-2 text-primary p-2"></i>
                <div>
                  <h3>
                    احصل على الشهادة
                </h3>
                <p >
                    لتعزّز فرصك في إطلاق مسيرتك المهنية، أو تنميتها وتطويرها.

                </p>
                </div>

        </div>
    </div>
</div>

<div class="container2 col-md-12">

        <div class="info bg-warning pt-2 px-5 text-center pb-3   " style="height: fit-content">
<h2  class="pt-5  fs-1">

اصقل مهاراتك العمليّة مع تخصّصات اللوتس اكاديمي
</h2>
<p class="fs-3 mt-4">
قم بتطوير مهارة مهنية محددة من خلال سلسلة من الدورات التدريبية المترابطة. جسّد أفكارك على أرض الواقع من خلال مشاريع عمليّة واحصل على شهادة تخصص لإضافتها إلى سيرتك الذاتية.
</p>

        </div>
        </div>
      </section>


      <section id="three">
        <div class="container mt-5">
            <h2 class="mt-5">
              الدّورات الأكثر طلباً
            </h2>
            <p class="lead">
              اختر من أحد هذه الدورات لتطوير مهاراتك في مجالات مختلفة
            </p>
            <div class="grid">
              <a class="btn btn-outline-primary rounded-pill p-3 m-2 "  href="#yothymath "
              (click)="onclicked('usy')"
                          >الحساب الذهني</a>
                          <a class="btn btn-outline-primary rounded-pill p-3 m-2" href="#computer"
                          (click)="onclicked('comp')"
                          >اساسيات الحاسب الالي</a>
                          <a class="btn btn-outline-primary rounded-pill p-3 m-2" href="#computer"
                          (click)="onclicked('web')"
                          >تطوير الويب</a>
                          <a class="btn btn-outline-primary rounded-pill p-3 m-2" href="#english"
                          (click)="onclicked('lang')"
                          >اللغات</a>
            </div>


        </div>

    </section>


    <section id="yothymath" class="mt-5"
    *ngIf="programSelect==='usy'">


        <div class="row mx-3">
            <div class="col-md-4 ">

                <div class="card" style="width: 18rem;">
                  <img src="/assets/img/271340835_1923144161208809_2232785223819993671_n.jpg" style="height: 200px;" class="card-img-top" alt="...">
                  <div class="card-body px-3">
                    <h5 class="card-title ">السوروبان (يوسي ماس) </h5>
                    <p class="card-text">هو برنامج تطوير عقلي مميز للأطفال مخصص لتفعيل طاقتهم العقلية الكامنة في المرحلة العمرية التي يبلغ فيها العقل ذروة تطوره ونموه لعمر الطفل بين 4 الي 13 سنة صمم هذا البرنامج لإستثمار السنوات الأولى من حياة الأطفال</p>
                    <!-- <a href="/usy-math.html" class="btn btn-primary">الدورة</a> -->
                  </div>
                </div>


            </div>


            <div class="col-md-4">
              <div class = card style="width: 18rem;">

                <img src="/assets/img/271633403_2429958527140230_3076200020634969479_n.jpg" style="height: 200px;" class="card-img-top" alt="...">

                <div class="card-body px-3">
                <h5 class="card-title ">كورس رياضيات الفيدا
                  ( Vedic math)</h5>
                <p class="card-text my-3">هناك العديد من ميزات نظام الفيدية
                  ,التماسك
                  ,المرونه فى حل العمليات الحسابيه
                  ,الخيال و تحسين الذاكرة
                  ,يعزز الإبداع
                  ,مخاطبة كل الفيئات
                  ,سرعة البديهة
                  ,الفعالية والسرعة</p>


             </div>

          </div>


         </div>

            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                  <img src="/assets/img/مكعب-روبيك.jpg" style="height: 200px;" class="card-img-top" alt="...">
                 <div class="card-body px-3">
                    <h5 class="card-title">تعلم مكعب روبيك</h5>
                    <p class="card-text">
                      هو عبارةٌ عن أحجيةٍ على شكل مكعبٍ يحتوي على تسعة مربعاتٍ على كل جانبٍ. عند فتح العلبة لأول مرةٍ وإخراجه منها، فإن كل جانبٍ من المكعب يحوي على مربعاتٍ متشابهةٍ باللون. الهدف من اللغز هو إعادة كل جانبٍ إلى الوضع الأصلي بعد أن تقوم بإدارته عدة مراتٍ
                    </p>
                    <!-- <a href="/usy-math.html" class="btn btn-primary mt-4">الدورة</a> -->
                  </div>
                </div>
            </div>

            <!-- <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="/img/4554-1.jpg" style="height: 200px;" class="card-img-top" alt="...">
                 <div class="card-body px-3">
                    <h5 class="card-title">مهمتنا</h5>
                    <p class="card-text">توفير دورات الحساب العقلي باستخدام الأباكس التي من شأنها أن تساعد الطلاب على تحسين قدراتهم العقلية. تقوية ذاكرة الطفل بشكل عام وخاصة مايعرف بالذاكرة الفوتوغرافية وتعزيز السرعة والدقة لديهم </p>
                    <a href="/usy-math.html" class="btn btn-primary mt-4">الدورة</a>
                  </div>
                </div>
            </div> -->
            </div>


    </section>

    <section id="computer" class="mt-5 "
    *ngIf="programSelect==='comp'"
    >
      <div class="collapse1">
      <div class="row mx-5">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/download (1).jpg"style="height: 200px;"  class="card-img-top" alt="...">
                <div class="card-body px-3">
                  <h5 class="card-title ">اساسيات الحاسب الالي </h5>
                  <p class="card-text">كونك طفلًا في العصر الحديث ، يجب أن تكون قد استخدمت أجهزة الكمبيوتر أو شاهدتها أو قرأت عنها. هذا لأنها جزء لا يتجزأ من وجودنا اليومي.</p>
                  <!-- <a href="#" class="btn btn-primary mt-4">الدورة</a> -->
                </div>
              </div>
          </div>

          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/images.jpeg" style="height: 200px;" class="card-img-top" alt="...">
               <div class="card-body px-3">
                  <h5 class="card-title"> MS Office ميكروسوفت اوفيس</h5>
                  <p class="card-text">يتكون Microsoft Office من Microsoft Word ، وهي أداة قياسية لمعالجة الكلمات ؛ Microsoft Excel ، حزمة تستخدم لإنشاء وتحرير جداول البيانات</p>
                  <!-- <a href="#" class="btn btn-primary">الدورة</a> -->
                </div>
              </div>
          </div>

          <!-- <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/203b0fb7-ae46-4ba7-a69e-8cc445b89db2.o.jpg" style="height: 200px;" class="card-img-top" alt="...">
               <div class="card-body px-3">
                  <h5 class="card-title">            تطوير الويب  (Web developer)
                  </h5>
                  <p class="card-text">
                    في رحلتك في تعلم البرمجة واحترافها، نوفر لك موسوعة  متكاملة لجميع لغات وتقنيات البرمجة المختلفة. الموسوعة بمثل قاموس أو مرجع لجميع المبرمجين منهم مطورو الويب، سيساعدك كثيرًا في رحلة تعلم تطوير الويب وبدء التطبيق لوحدك، وفي مرحلة الاحتراف بلا شك. </p>
               <a href="#" class="btn btn-primary">الدورة</a>
                </div>
              </div>
          </div> -->

          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/New Project (90)(139).jpg" style="height: 200px;" class="card-img-top" alt="...">
               <div class="card-body px-3">
                  <h5 class="card-title">الانترنت</h5>
                  <p class="card-text"> هي نظام اتصالات عالمي يسمح بتبادل المعلومات بين شبكات أصغر تتصل من خلالها الحواسيب حول العالم. تعمل وفق أنظمة محددة ويعرف بالبروتوكول الموحد وهو بروتوكول إنترنت </p>

                </div>
              </div>
          </div>
          </div>

      </div>
  </section>


  <section id="web" class="mt-5 "
  *ngIf="programSelect==='web'"
  >
    <div class="collapse1">
    <div class="row mx-5">

      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/203b0fb7-ae46-4ba7-a69e-8cc445b89db2.o.jpg" style="height: 200px;" class="card-img-top" alt="...">
           <div class="card-body px-3">
              <h5 class="card-title">            تطوير الويب  (Web developer)
              </h5>
              <p class="card-text">
                تطوير الويب هو العمل الذي ينطوي عليه تطوير موقع ويب للإنترنت أو الإنترانت. يمكن أن يتراوح تطوير الويب من تطوير صفحة ثابتة واحدة بسيطة من نص عادي إلى تطبيقات الويب المعقدة والأعمال الإلكترونية وخدمات الشبكات الاجتماعية.
              </p>

            </div>
          </div>
      </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="/assets/img/coding-classes-for-kids.png"style="height: 200px;"  class="card-img-top" alt="...">
              <div class="card-body px-3">
                <h5 class="card-title "> coding for kids  تعليم برمجة للأطفال</h5>
                <p class="card-text my-4">
                  تعليم البرمجة للاطفال من 6 سنوات والمبتدئين بشكل سهل وبسيط, شرح أغلب المفاهيم البرمجية والتطبيق على ألعاب وأنشطة ورقية
               </p>
                <!-- <a href="#" class="btn btn-primary mt-4">الدورة</a> -->
              </div>
            </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="/assets/img/6nYzMLXUjkaVomaBZ8sNRZ.jpg" style="height: 200px;" class="card-img-top" alt="...">
             <div class="card-body px-3">
                <h5 class="card-title">سكراتش SCRATCH</h5>
                <p class="card-text my-4">
                  سكراتش SCRATCH  عبارة عن بيئة برمجة سهلة و بسيطة ، موجهة أساسا للمبتدئين و الأطفال
                  تهدف إلى تنمية الإبداع و الابتكار لدى الأطفال و الكبار من غير ذوي الاختصاص
                </p>
                <!-- <a href="#" class="btn btn-primary">الدورة</a> -->
              </div>
            </div>
        </div>




        </div>

    </div>
</section>

  <section id="english" class="mt-5 "
  *ngIf="programSelect==='lang'"
  >
    <div class="collapse2">
    <div class="row mx-5">


      <div class="col">
        <div class = "card"  style="width: 18rem;">

           <img src="/assets/img/صورة_دورة_قواعد_اللغة_العربية_أفقية.jpg">

           <div class="card-body px-3">
          <h5 class="card-title">قواعد اللغة العربية </h5>
          <p class="card-text my-4"> هذا المساق يقدّم لكم أهمّ أساسيات قواعد النّحو والإملاء بشكل مبسّط وبصورة منظّمة مع أمثلة وتطبيقات عمليّة. ويشمل نوعين من القواعد: قواعد النّحو والإملاء. </p>


       </div>

    </div>


   </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="/assets/img/English Basics.png"style="height: 200px;"  class="card-img-top" alt="...">
              <div class="card-body px-3">
                <h5 class="card-title ">اساسيات الانجليزي </h5>
                <p class="card-text"> الاساسيات تتضمن كل ما تحتاج اليه من اجل انطلاقة قوية فقد اخترنا لك دروس تحتاج اليها بشكل دائم وسوف تستخدم اغلب مفرداتها بشكل يومي ومتكرر . وهذه الدروس هي الحجر الاساس لتعلم اللغة الانجليزية .</p>
                <!-- <a href="#" class="btn btn-primary mt-3">الدورة</a> -->
              </div>
            </div>
        </div>


        <div class="col">
          <div class = "card"  style="width: 18rem;">

             <img src="/assets/img/0909090909-627x400.png">

             <div class="card-body px-3">
            <h5 class="card-title">تعلّم اللغة الفرنسية</h5>
            <p class="card-text">
              أمسى التحدُث بلغة أجنبية واحدة غير كاف في يومنا هذا، فالتحدث بعدة لغات يتيح لكلّ شخص زيادة فرصه في سوق العمل في بلده وعلى المستوى الدولي
              تحتلّ اللغة الفرنسية المرتبة الثالثة في قائمة اللغات الأكثر تداولًا على شبكة الإنترنت
             </p>


         </div>

      </div>


     </div>



        <!-- <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="/img/ENGLISH-GRAMMAR-Basic-English-Grammar-Lessons.png" style="height: 200px;" class="card-img-top" alt="...">
             <div class="card-body px-3">
                <h5 class="card-title">قواعد اللغة الإنجليزية </h5>
                <p class="card-text"> هي مجموعة القواعد التي تحدد تركيب التعبيرات المختلفة في اللغة الإنجليزية مثل تركيب الكلمات والجمل والعبارات. ... كما أن ترتيب الكلمة مهم جداً في الجملة، وقد تحتوي العبارة الفعلية على بنية مركبة، وتوجد تعابير كثيرة تستخدم لأجلها حروف الجر </p>
                <a href="#" class="btn btn-primary">الدورة</a>
              </div>
            </div>
        </div> -->
        </div>

    </div>
  </section>


  <section id="five" class="mt-5">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-8 bg-light text-center ">
          <div class="content mt-5">
            <h2 class="fs-1 m-3">
              تقدّم مع اكاديمية اللوتس
            </h2>
            <p class="lead m-3">
              انضم إلى مجتمع متعلّمي الوتس لتحدث نقلة نوعية في مسيرتك المهنية من خلال البرامج المصمّمة لتزويدك بالمهارات التي تحتاجها لاستكشاف طاقاتك وإمكانيّاتك الذاتية.
            </p>
            <div class="row m-5">
              <div class="col-md-4 mb-3">
                <i class="far fa-comment fa-4x text-primary m-3"></i>
                <h3 class="text-center">
                  محتوى عالي الجودة
                </h3>
                <p class="text-center">
                  اكتسب المهارات المطلوبة في سوق العمل مع نخبة من أفضل الخبراء والمدربين.
                </p>
              </div>

              <div class="col-md-4">
                <i class="fas fa-book-reader  m-3  fa-4x text-primary"></i>
                <h3 class="text-center">
                  التّعلّم المرن
                </h3>
                        <p class="text-center">تعلّم  أينما كنت وفي أي وقت، عبر حاسوبك الشخصي أو هاتفك المتنقل.
                </p>
              </div>

              <div class="col-md-4">
                <i class="fas fa-briefcase  m-3 fa-4x text-primary"></i>
                <h3 class="text-center">
                  الجاهزيّة المهنيّة
                </h3>
                        <p class="text-center">
                  تميّز في سوق العمل بمهاراتك وشغفك للتعلم والتطور.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4 mt-5">
          <img src="/assets/img/WhatsApp Image 2022-01-29 at 1.44.53 PM.jpeg/" class="img-fluid mt-5" alt="">
        </div>
      </div>
    </div>
  </section>


