<section id="sign  ">
  <div class="container-fluid bg-primary pt-5" style="height: fit-content;">
     <div class="row">
         <div class="col-md-5">
          <h1 class=" p-4  text-white" style="font-size: 60px;">
            تعلم واحترف الإنترنت</h1>
          <p class="text-white lead">يعدّ الإنترنت أهمّ شيء في عصرنا الحالي؛ فهو أساس للنهضة، وأساس لحياتنا العمليّة، فكل أعمالنا تعتمد عليه، كما أنّه أصبح أساساً لحياتنا الاجتماعيّة فهو أيضاً أساسٌ للعديد من مواقع وتطبيقات التواصل الاجتماعي المختلفة


             </p>



         </div>

         <div class="col-md-5">
          <div class = card>
           <div class = image>
            <img src="assets/img/فوائد-الانترنت.jpg" >
           </div>
           <div class = content>
            <h5 class="card-title">الانترنت</h5>
            <p class="card-text"> هي نظام اتصالات عالمي يسمح بتبادل المعلومات بين شبكات أصغر تتصل من خلالها الحواسيب حول العالم. تعمل وفق أنظمة محددة ويعرف بالبروتوكول الموحد وهو بروتوكول إنترنت </p>


         </div>

      </div>


     </div>

     </div>



  </div>
</section>
<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 ">
              <h3 class="p-4">الوصف</h3>
          <p class="lead bg-light p-4">يتضمن هذا المقرر المفاهيم والمهارات الأساسية المتعلقة بتصفح شبكة الويب، والبحث عن المعلومات بشكل فعال، والتواصل عبر الإنترنت والبريد الإلكتروني

          </p>
          <h3 class="p-4">ماذا ستتعلم</h3>
          <div class="lead bg-light p-4">

             <li>
              فهم معنى تصفح الإنترنت ومبادىء الأمن على الإنترنت.
            </li>



                <li>
                  إستخدام متصفح الإنترنت وإدارة إعدادات المتصفح والإشارات المرجعية ونتائج البحث على الإنترنت.
                </li>


                <li>
                  البحث بفعالية عن المعلومات الموجودة على الإنترنت وتقييم محتوى الويب بشكل تحليلي.
                </li>
             <li>
              فهم حقوق الطباعة والنشر الأساسية ومسائل حماية البيانات.
             </li>
             <li>
              فهم مبادىء المجتمعات الإنترنتية، والإتصالات والبريد الإلكتروني.
             </li>
             <li>
              إرسال وتلقي رسائل البريد الإلكتروني والتحكم في الإعدادات الخاصة به.
             </li>
             <li>
              تنظيم رسائل البريد الإلكتروني والبحث فيها واستعمال رزنامات التقويم.
             </li>












            </div>

            <h3 class="p-4">الرؤية</h3>
            <p class="lead bg-light p-4">
              يغطي المهارات الأساسية الضرورية لفهم المبادىء الرئيسية المتعلقة بتصفح الويب والأمن على الإنترنت.
              يصادق على أفضل الممارسات في الإستعمال الفاعل للإنترنت.
              تم تطويره بمساهمات من مستخدمي كمبيوتر عاديين، وخبراء في المجال واختصاصيين ممارسين للعمل على الكمبيوتر من كافة أنحاء العالم. تضمن هذه العملية أهمية وتنوّع محتوى المقرر.
         </p>
      </div>

      <div class="col-md-5">
        <img src="assets/img/internet-company.jpg" style="height: 300px; width: 600px;" class="img-fluid mt-5 rounded-pill" alt="">
        <img src="assets/img/hqdefault.jpg"class="img-fluid mt-5 rounded-pill"  style="height: 300px; width: 600px;" alt="">
        <img src="assets/img/New Project (90)(139).jpg" style="height: 300px; width: 600px;"class="img-fluid mt-5 rounded-pill"  alt="">
      </div>
      </div>

  </div>
</section>






